/* Reset */
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    max-width: 960px;
    margin: 0 auto;
    /* color: #683994; */
    }
    
    /*                                                    Main Styling Start                           */
    html,body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
    }
    
    a {
    color: #333;
    text-decoration: none;
    }
    
    h1, h2, h3 {
    padding-bottom: 20px;
    }
    
    p {
    margin: 10px 0;
    }
    /*                                                    Main Styling End                               */
    
    
    /* Utility Classes Start */
    .container {
    margin: auto;
    overflow: auto;
    padding: 0 20px;
    }
    
    .text-primary {
    color: #f7c08a;
    }
    
    .bg-dark {
    background: rgb(231, 78, 78);
    color: #fff;
    }
    
    .btn {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: rgb(231, 78, 78);
    padding: 13px 20px;
    border: none;
    cursor: pointer;
    }
    
    .btn:hover {
    background: #f7c08a;
    color: #333;
    }
    
    .btn-light {
    background: #f4f4f4;
    color: #333;
    }
    /* Utility Classes End */
    
    /*                                                    Navbar Start                       */
    #navbar {
    background: rgb(231, 78, 78);
    color: #fff;
    overflow: auto;
    }
    
    #navbar img {
    float: left;
    }
    
    #navbar a {
    color: #fff;
    }
    
    #navbar h1 {
    float: left;
    padding-top: 20px;
    padding-left: 10px;
    }
    
    #navbar ul {
    list-style: none;
    float: right;
    
    }
    
    #navbar ul li {
    float: right;
      
    }
    
    #navbar ul li a {
    display: inline-block;
    padding: 20px;
    text-align: center;
    }
    
    #navbar ul li a:hover,
    #navbar ul li a.current {
    background: #444;
    color: #f7c08a;
    }
    /*                                                    Navbar End                       */
    
    /*                                                    Hero Start                       */
    #hero {
    background: url("http://placekitten.com/550/300") no-repeat center center/cover;  
    height: 300px;
    }
    
    #hero .hero-content {
    color: #fff;
    text-align: center;
    padding-top: 100px;
    }
    
    #hero .hero-content h1 {
    font-size: 35px;
    line-height: 1.2em;
    }
    /*                                                    Hero End                       */
    
    
    /*                                                    Home-info Start                       */
    #home-info {
    height: 400px;
    padding: 50px 50px;
    }
    
    #home-info .info-img {
    float: left;
    width: 50%;
    background: url('https://placekitten.com/400/300') no-repeat; 
    min-height: 100%;
    }
    
    #home-info .info-content {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 10px;
    overflow: hidden;
    }
    
    #home-info .info-content p {
    padding-bottom: 30px;
    }
    /*                                                    Home-info End                       */
    
    
    /*                                                    Home-info-1 Start                       */
    #home-info-1 {
    height: 400px;
    padding: 50px 10px;
    }
    
    #home-info-1 .info-img {
    float: right;
    width: 50%;
    background: url('https://placekitten.com/400/300') no-repeat; 
    min-height: 100%;
    }
    
    #home-info-1 .info-content {
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
    }
    
    #home-info-1 .info-content p {
    padding-bottom: 5px;
    }
    /*                                                    Home-info-1 End                       */
    
    
    /*                                                    Features Start                               */
    .box {
    
    width: 100%;
    padding: 50px;
    text-align:center;
    }
    
    .box i {
    margin-bottom: 10px;
    }
    
    .bg-primary {
    background: #f7c08a;
    color: #333;
    }
    /*                                                    Features End                           */
    
    
    /*                                                    Footer Start            */              
                                          
    .footer-distributed{
       background-color: rgb(231, 78, 78);
       box-sizing: border-box;
       width: 100%;
       text-align: left;
       font: bold 16px sans-serif;
       padding: 50px 50px 60px 50px;
    }
    
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
       display: inline-block;
       vertical-align: top;
    }
    
    
    /* Footer left */
    
    .footer-distributed .footer-center{
       width: auto;
    }
    
    
    .footer-distributed .footer-center i{
       background-color: #33383b;
       color: #ffffff;
       font-size: 25px;
       width: 38px;
       height: 38px;
       border-radius: 50%;
       text-align: center;
       line-height: 42px;
       margin: 10px 15px;
       vertical-align: middle;
    }
    
    .footer-distributed .footer-center i.fa-envelope{
       font-size: 17px;
       line-height: 38px;
    }
    
    .footer-distributed .footer-center p{
       display: inline-block;
       color: #ffffff;
       vertical-align: middle;
       margin:0;
    }
    
    .footer-distributed .footer-center p span{
       display:block;
       font-weight: normal;
       font-size:14px;
       line-height:2;
    }
    
    .footer-distributed .footer-center p a{
       color: #e0ac1c;
       text-decoration: none;;
    }
    
    
    /* Footer Right */
    
    .footer-distributed .footer-right{
       width: auto;
       padding: 0px 50px;
    }
    
    .footer-distributed .footer-company-about{
       line-height: 20px;
       color: #92999f;
       font-size: 13px;
       font-weight: normal;
       margin: 0;
    }
    
    .footer-distributed .footer-company-about span{
       display: block;
       color: #ffffff;
       font-size: 18px;
       font-weight: bold;
       margin-bottom: 20px;
    }
    
    .footer-distributed .footer-icons{
       margin-top: 25px;
    }
    
    .footer-distributed .footer-icons a{
       display: inline-block;
       width: 35px;
       height: 35px;
       cursor: pointer;
       background-color: #33383b;
       border-radius: 2px;
    
       font-size: 20px;
       color: #ffffff;
       text-align: center;
       line-height: 35px;
    
       margin-right: 3px;
       margin-bottom: 5px;
    } 
    
        /* Footer Bottom */
    
        .footer-distributed .footer-bottom{
            width: auto;
            padding: 0px 50px;
         }
         
         .footer-distributed .footer-company-copywrite{
            line-height: 20px;
            color: #ffffff;
            font-size: 13px;
            font-weight: normal;
            margin: 0;
            text-align: center;
         }

         .footer-distributed .footer-company-copywrite span{
            display: block;
            color: #ffffff;
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 20px;
         }
         
         
    
    /*                                       Footer End                            */